.color1 {
    border-bottom-color: #00cc00;
}
.color2 {
    border-bottom-color: #33cc33;
}
.color3 {
    border-bottom-color: #66ff66;
}
.color4 {
    border-bottom-color: #99ff99;
}
.color5 {
    border-bottom-color: #ccffcc;
}

.chooser-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.chooser-button {
    display: inline-block;
    font-size: 0.8rem;
    padding: 1rem 2rem;
    margin: 1rem;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.back-button, .chooser-button {
    background-color: #00cc00;
    color: white;
    border-color: #66ff66;
}
.back-button:hover, .chooser-button:hover {
    background-color: #009900;
    border-color: #55dd55;
}