<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link Shortener</title>
</head>
<body>
<h1>Link Shortener</h1>

<div>
    <form th:action="@{/links/info}" method="get">
        <label for="loadId">Load saved link by ID:</label>
        <input type="text" id="loadId" name="id" placeholder="Enter ID to load...(e.g. lhmkuEXSUZ)" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <div th:if="${error}" class="text-danger">
            <p th:text="${error}"></p>
        </div>
        <button type="submit">Load Saved</button>
    </form>
</div>

<div>OR</div>

<div>
    <form th:action="@{/links/create}" method="get">
        <button type="submit">Create New Link</button>
    </form>
</div>
</body>
</html>