<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Not Found</title>
    <link rel="stylesheet" href="/css/format.css">
</head>
<body class="dark-theme">

<div class="main-wrapper">
    <h1 class="title">Code Not Found</h1>
    <p class="error-message visible">
        The code with the specified ID could not be found or has expired.
    </p>

    <div class="button-wrapper">
        <a th:href="@{/format-code}" class="base-button">Back to Formatter</a>
    </div>
</div>

</body>
</html>